<h1> YAY </h1>


<form method = 'Post' action = '/session' >
	<input name = 'authenticity_token' value='<%= form_authenticity_token() %>' type='hidden'>
	<input name = '_method' value='delete' type='hidden'>
	<button> Log Out </button>
</form>