<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Assessment</title>
</head>
<body>
	<ul>
		<% names.each do |name| %>
			<li> Celeb: <%=name %> is <%=name.length %> characters long</li>
		<% end %>
	</ul>
</body>
</html>