<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>InstaJAM</title>
</head>
<body>
	<ul>
	<% pictures.each do |picture| %>
	<li><img src="<%= picture%>"></li>
	<% end %>
	</ul>
</body>
</html>