<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Assessment w08 d04</title>
</head>
<body>
	
	<script type="text/javascript">
		var mapOptions = {
	          center: { lat: <%=lat%>, lng: <%=lng%>},
	          zoom: 12
	        };
	        var map = new google.maps.Map(document.getElementById('map-canvas'),
	            mapOptions);
	</script>
</body>
</html>