

<div id='all-articles'></div>

<div id='new-article'>
	<input id='newArticleHeadline' type='text'>
	<input id='newArticleContent' type='text'>
	<input id='newArticlePhoto' type='text'>
	<button id='addArticleButton'> Add </button>
</div>


<script type="text/template">


</script>