<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Express!</title>
</head>
<body>
	<h1> Welcome to <%=name %>'s webpage! </h1>
	<h3> Hometown: <%=home %> </h3>
	<h3> Favorite Band: <%=band %> </h3>
	<h3> Favorite Color: <%=color %> </h3>
</body>
</html>